h1 {
  font-family: 'Arvo', serif
}

h4 {
  font-family: 'Arvo', serif;
  color: #C63D0F;
}

body {
  background-color: #ECECEA;
  font-size: 18px;
  font-family: Helvetica;
}

.data {
  font-family: Helvetica;
  color: #3B3738;
}

.text {
  font-family: Times;
  color: #008b8b;
}

p.one {
  font-family: Times;
  font-style: italic;
  margin: 20px;
  background-color: #D9853B;
  border-style: outset;
  moz-box-shadow: 5px 5px 5px #777777;
  box-shad: 5px 5px 5px ;
  padding: 20px;
}

