h1 {
  font-family: 'Arvo', serif;
}

h4 {
  font-family: 'Arvo', serif;
  color: #C63D0F;
}

body {
  background-color: #ECECEA;
  font-size: 18px;
  font-family: Helvetica;
}

.data {
  font-family: Helvetica;
  color: #3B3738;
}

.text {
  font-family: Times;
  color: #008b8b;
}

.total {
  font-family: Times;
  color: #D9853B;
  
}