body {
  font-size: 18px;
  font-family: Helvetica;
  background: #ECECEA;
  }

h1 {
  font-family: 'Arvo', serif
}

h4 {
    font-family: 'Arvo', serif;
    color: #C63D0F;
}

p {
  color: #008b8b;
}

p.one {
  font-family: Times;
  font-style: italic;
  margin: 20px;
  color: white;
  background-color: #D9853B;
  padding: 20px;
}

p.two {
 
  margin: 20px;
  color: white;
  background-color: #D9853B;
  padding: 20px;
}

p.data{
  font-family: Helvetica;
  color: #3B3738;
}
      
  


